:root {
  --div-margin-left: 2.5rem;
  --div-margin-right: 2.5rem;
  --white-background-color: rgba(255, 255, 255, 255);
  --blue-background-color: rgba(69, 91, 163, 255);
  --green-background-color: rgba(92, 184, 91, 255);
  --yellow-background-color: rgba(255, 192, 5, 255);
  --red-background-color: #e6496b;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(82, 86, 88, 255);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.resume-container {
  position: relative;
  width: 100%;
  min-height: 10rem;
  max-width: 100rem;
  margin-right: var(--div-margin-left);
  margin-left: var(--div-margin-right);
  background: white;
  display: grid;
  grid-template-rows: 4fr 3fr 25fr;
}

.form-container {
  position: relative;
  width: 50%;
  min-height: 10rem;
  max-width: 100rem;
  margin-right: var(--div-margin-right);
  margin-left: var(--div-margin-left);
  background: white;
}

.resume-container .upper {
  position: relative;
  background-color: var(--white-background-color);
  padding: 2.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.resume-container .middle {
  position: relative;
  background-color: var(--blue-background-color);
  padding-left: 2.5rem;
  padding-top: 1.2rem;
  padding-right: 2.5rem;
  padding-bottom: 1.2rem;
  font-size: 2rem;
}

.resume-container .lower {
  position: relative;
  background-color: var(--white-background-color);
  font-size: 2rem;
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 1rem;
}

.resume-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blank-container {
  width: 2.5rem;
}

.extend-raw {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1 rem;
}

.boxed-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 2 rem;
}

.fullwidth {
  width: 100%;
}

.main-container {
  padding: 0.2rem;
}

.sub-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-right: 1rem;
}

.boxed-container {
  border-style: solid;
  border-width: 0.2rem;
  border-color: var(--blue-background-color);
  border-radius: 1rem;
  box-shadow: var(--blue-background-color);
  margin: 0.5rem;
  padding: 0.5rem;
}

.icon {
  font-size: medium;
}

.add {
  width: 15rem;
  margin: 0.5rem;
  background-color: var(--green-background-color);
  border-radius: 0.7rem;
}

.delete {
  width: 15rem;
  margin: 0.5rem;
  border-radius: 0.7rem;
  background-color: var(--red-background-color);
}

.update {
  width: 15rem;
  margin: 0.5rem;
  border-radius: 0.7rem;
  background-color: var(--yellow-background-color);
}

.h1 {
  font-size: 1.3rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}
.h2 {
  font-size: 1.6rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}
.h3 {
  font-size: 2rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}
.h4 {
  font-size: 2.4rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}
.h5 {
  font-size: 3rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}

.blue {
  color: var(--blue-background-color);
}

.white {
  color: white;
  overflow-wrap: break-word;
  background-color: var(--blue-background-color);
}

.left-padding {
  padding-left: 2.5rem;
}

ul {
  padding-left: 2.5rem;
  margin-top: 0;
}

.upper-container {
  padding: 0;
}

.left-container {
  float: left;
  width: 45%;
}

.right-container {
  float: right;
  width: 40%;
  text-align: right;
  padding-right: 2rem;
}

.boxed {
  background-color: var(--blue-background-color);
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  color: white;
  border-radius: 0.8rem;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  margin-right: 0.7rem;
}

.boxed-transparent {
  border-style: solid;
  border-color: rgba(127, 128, 128, 255);
  border-width: 0.2rem;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.35rem 0.7rem 0.35rem 0rem;
}

.opacity {
  opacity: 0.5;
}

.link {
  text-decoration: none;
}

.header {
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 3rem;
  padding: 0.35rem;
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .resume-grid-container1 {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 65%;
  }
}

.label {
  font-weight: bolder;
}
