html{
  font-size: 62.5%;
}

body{
    background-color: rgba(82,86,88,255);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    min-height: 10rem;
    max-width: 100rem;
    margin-right: 5rem;
    margin-left: 5rem;
    background: white;
    display: grid;
    grid-template-rows: 4fr 3fr 25fr;
}

.container .upper{
  position: relative;
  background-color: rgba(255,255,255,255);
  padding: 2.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.container .middle{
  position: relative;
  background-color: rgba(69,91,163,255);
  padding-left: 2.5rem;
  padding-top: 1.2rem;
  padding-right: 2.5rem;
  padding-bottom: 1.2rem;
  font-size: 2rem;
}

.container .lower{
  position: relative;
  background-color: rgba(255,255,255,255);
  font-size: 2rem;
}

.intro{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .row {
  display: flex;
}

.column {
  flex: 50%;
} */

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 1rem;
}

.grid-container1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-container2{
  display: grid;
  grid-template-columns: 1fr 18fr;
}

.temp{
  width: 2.5rem;
}

.extendraw{
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1 rem;
}

.extendraw1{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 2 rem;
}

.fullwidth{
  width: 100%;
}

.padding{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-right: 1rem;
}

.padding1{
 padding: 2rem;
}

.padding2{
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.padding3{
  padding: 0.2rem;
}

.fontsize{
  font-size: 1.6px;
}

.iconsize{
  font-size:medium;
}

/* .list{
  padding-left: 2.5rem;
} */

/* .temp{
  font-size: 2rem;
  overflow-wrap: break-word;
} */

.size1{
  font-size: 1.3rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}
.size2{
  font-size: 1.6rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}
.size3{
  font-size: 2rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}
.size4{
  font-size: 2.4rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}
.size5{
  font-size: 3rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}

.blue_font{
  color: rgba(69,91,163,255);
}

.white{
  color: white;
  overflow-wrap: break-word;
}

.left_padding{
  padding-left: 2.5rem;
}

ul{
  padding-left: 2.5rem;
  margin-top: 0;
}

.div-upper{
 padding: 0;
}

.div-left{
  float:left;
  width: 45%;
}

.div-right{
  float:right;
  width: 40%;
  text-align: right;
  padding-right: 2rem;
}

.boxed{
  background-color: rgba(69,91,163,255);
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  color: white;
  border-radius: 0.8rem;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  margin-right: 0.7rem;
}

.boxed1{
  border-style: solid;
  border-color: rgba(127,128,128,255);
  border-width: 0.2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  border-radius: 0.8rem;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  margin-right: 0.7rem;
}

.opacity{
  opacity: 0.5;
}

.link{
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 65%;
  }
  .grid-container1{
    grid-template-columns: 1fr;
  }
}
